* {
  box-sizing: border-box;
  margin: 0px;
}
body {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.firstpage {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.navi {
  position: fixed;
  display: flex;
  height: 40px;
  width: 100%;
  max-width: 1204px;
  top: 46px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  top: 46px;
  z-index: 3;
}

.navismall {
  display: flex;
  height: 22px;
  width: 392px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 24px;
}
.box {
  width: 100px;
  color: white;
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
.lang {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: white;
  color: black;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}

.textbox {
  display: flex;
  height: 394px;
  width: 618px;
  align-self: center;
  justify-self: center;
  align-items: center;
  flex-direction: column;
}

.magic {
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-family: "Bebas Neue", sans-serif;
  color: #e8edf2b8;
}
.awaits {
  display: flex;
  height: 250px;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-size: 250px;
  font-family: "Bebas Neue", sans-serif;
  color: #fdfdfefa;
}

.year {
  display: flex;
  height: 64px;
  width: 144px;
  justify-content: center;
  align-items: center;
  font-size: 64px;
  font-family: "Hanuman", serif;
  color: #ffffffcc;
  font-weight: 900;
}

#image1 {
  position: absolute;
  z-index: -1;
}

.secondpage {
  height: 500px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 370px;
  width: 1202px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container .box {
  position: relative;
  display: flex;
  height: 370px;
  width: 276px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: -8px -8px 0px 0px #1f72aa75, 8px 8px 0px 0px #29728b40;
  text-align: center;
}

#image2 {
  position: absolute;
  z-index: -1;
}

.spot {
  position: absolute;
  border-radius: 20px;
  z-index: -1;
  left: 0px;
  right: 0px;
}

.sname {
  display: flex;
  width: 100%;
  font-size: 37px;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
  opacity: 80%;
  text-shadow: 0px 4px 4.9px #000000a6;
  z-index: 2;
}

.gazar {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.black-opa {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000;
  opacity: 0;
  border-radius: 20px;
}

.gazar:hover .black-opa {
  transition: 0.5s;
  opacity: 0.4;
}

.thirdpage {
  position: relative;
  display: flex;
  height: 1022px;
  width: 100vw;
  justify-content: center;
}

.container3 {
  display: flex;
  position: absolute;
  height: 640px;
  width: 73%;
  flex-direction: row;
  justify-content: space-between;
  top: 264px;
}

.container3 .box1 {
  display: flex;
  height: 640px;
  width: 513px;
  flex-direction: column;
  justify-content: space-between;
}

.container3 .box2 {
  position: relative;
  height: 640px;
  width: 54%;
}

.pin1 {
  position: absolute;
  top: 200px;
  left: 89%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pin2 {
  position: absolute;
  top: 45px;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pin3 {
  position: absolute;
  top: 200px;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pin4 {
  position: absolute;
  top: 150px;
  left: 17%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pin5 {
  position: absolute;
  top: 0px;
  left: 15.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pin1 img:last-child {
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.pin2 img:last-child {
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.pin3 img:last-child {
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.pin4 img:last-child {
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.pin5 img:last-child {
  position: absolute;
  opacity: 0;
  z-index: 2;
}

.pin1 img:first-child {
  position: absolute;
  opacity: 1;
}

.pin2 img:first-child {
  position: absolute;
  opacity: 1;
}

.pin3 img:first-child {
  position: absolute;
  opacity: 1;
}

.pin4 img:first-child {
  position: absolute;
  opacity: 1;
}

.pin5 img:first-child {
  position: absolute;
  opacity: 1;
}

.container3:has(.textcontainer:nth-child(1):hover) .pin1 img:last-child {
  opacity: 1;
}
.container3:has(.textcontainer:nth-child(1):hover) .pin1 img:first-child {
  opacity: 0;
}
.container3:has(.textcontainer:nth-child(2):hover) .pin2 img:last-child {
  opacity: 1;
}
.container3:has(.textcontainer:nth-child(2):hover) .pin2 img:first-child {
  opacity: 0;
}

.container3:has(.textcontainer:nth-child(3):hover) .pin3 img:last-child {
  opacity: 1;
}
.container3:has(.textcontainer:nth-child(3):hover) .pin3 img:first-child {
  opacity: 0;
}

.container3:has(.textcontainer:nth-child(4):hover) .pin4 img:last-child {
  opacity: 1;
}
.container3:has(.textcontainer:nth-child(4):hover) .pin4 img:first-child {
  opacity: 0;
}

.container3:has(.textcontainer:nth-child(5):hover) .pin5 img:last-child {
  opacity: 1;
}
.container3:has(.textcontainer:nth-child(5):hover) .pin5 img:first-child {
  opacity: 0;
}

.box1 .textcontainer {
  height: 112px;
  width: 100%;
  border-radius: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}

.box1 .textcontainer:hover {
  border: solid white 3px;
}
.sukh {
  position: absolute;
  display: none;
}

.amar {
  position: absolute;
  display: none;
}

.horgo {
  position: absolute;
  display: none;
}

.terkh {
  position: absolute;
  display: none;
}

.khuv {
  position: absolute;
  display: none;
}
.box1 .textcontainer:nth-child(1):hover .sukh {
  display: block;
}

.box1 .textcontainer:nth-child(2):hover .amar {
  display: block;
}

.box1 .textcontainer:nth-child(3):hover .horgo {
  display: block;
}

.box1 .textcontainer:nth-child(4):hover .terkh {
  display: block;
}

.box1 .textcontainer:nth-child(5):hover .khuv {
  display: block;
}

.box1 .textcontainer:nth-child(1) {
  background-color: #eee9d9;
}
.box1 .textcontainer:nth-child(2) {
  background-color: #8bb8c1cc;
}

.box1 .textcontainer:nth-child(3) {
  background-color: #aad8d7cc;
}

.box1 .textcontainer:nth-child(4) {
  background-color: #8bc0bdcc;
}

.box1 .textcontainer:nth-child(5) {
  background-color: #97cce0cc;
}

.circle {
  display: flex;
  height: 52px;
  width: 52px;
  background-color: #f7f6f3;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
.header {
  position: absolute;
  display: flex;
  height: 85px;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 120px;
  gap: 10px;
}

h1 {
  font-size: 42px;
  font-family: "Inter", sans-serif;
  color: #000000;
  font-weight: 600;
}

h5 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: #18181bb2;
  font-weight: 500;
}

.destiday {
  display: flex;
  height: 48px;
  width: 483px;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
}
h2 {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 100%;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 100%;
}
.details {
  display: flex;
  flex-direction: row;
  height: 15px;
  width: 94px;
  gap: 12px;
}
.desti {
  display: flex;
  height: 48px;
  justify-content: space-between;
  flex-direction: column;
}

.fourthpage {
  display: flex;
  position: relative;
  height: 1120px;
  width: 100vw;
  justify-content: center;
}

.fourthpage .header {
  top: 40px;
}

.container4 {
  position: absolute;
  display: flex;
  height: 527px;
  width: 1200px;
  top: 204px;
  flex-direction: row;
  gap: 24px;
}
.container4 .box {
  height: 527px;
  width: 384px;
  background-color: #fafbfc;
  border-radius: 40px;
  transition: 0.5s;
}

.container4 .box:hover {
  box-shadow: -8px -8px 0px 0px #072a4275, 8px 8px 0px 0px #29728b40;
}

.container4 .box:hover .butt {
  background-color: black;
}
.container4 .box:hover .button {
  color: white;
}

.type {
  display: flex;
  height: 92px;
  width: 100%;
  flex-direction: row;
  align-items: center;
  padding-left: 24px;
  gap: 10px;
}
.head {
  color: var(--Text-TextPrimary, #121316);
  font-size: 18px;
  font-family: "Inter", sans-serif;
}

.information {
  height: 435px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 24px 48px 24px;
}

.infowindow {
  display: flex;
  width: 336px;
  gap: 32px;
  flex-direction: column;
}

.butt {
  height: 48px;
  width: 336px;
  background-color: #a4d1e2;
  border-radius: 9999px;
}

.price {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
  flex-direction: column;
}

.dolla {
  font-family: "Monserat", sans-serif;
  font-size: 40px;
  color: #303030;
}

.feature {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #919191;
}

h6 {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: var(--Text-TextPrimary, #121316);
}
p {
  display: flex;
  font-size: 14px;
  font-family: "Inter", sans-serif;
  color: var(--Text-TextSecondary, #3f4145);

  align-items: center;
}

.included div {
  display: flex;
  gap: 20px;
  flex-direction: row;
}

.included {
  display: flex;
  height: 180px;
  width: 336px;
  flex-direction: column;
  justify-content: space-between;
}

.butt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #000000;
  font-style: Bold;
  font-weight: 600;
}

.pop {
  display: flex;
  justify-content: space-between;
}

.popular {
  display: flex;
  height: 27px;
  width: 91px;
  border-radius: 30px;
  background-color: #6972b5;
  color: #fafbfc;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.footer {
  position: absolute;
  display: flex;
  align-self: flex-end;
  height: 204px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.footcontainer {
  display: flex;
  height: 44px;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
}

.social {
  display: flex;
  gap: 20px;
}

.FI {
  display: flex;
  background-color: #fafbfc;
  gap: 10px;
  height: 44px;
  width: 167px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
}

.icon {
  color: #6972b5;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
}
